<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset = "utf-8"/>
<script src="./validation1.js"></script>
</head>

<body>
<h1>
Login form
</h1>
  
<body>
    <div class="login">
        <h2>Login</h2>
        <form action="/login" method="GET">
            Username:<input type="text" name="name"><br>
            Email:<input type="text" name="email"><br>
            Password:<input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
	<div class="register">
        <h2>Register</h2>
        <form action="/register" method="GET">
            Username:<input type="text" name="name"><br>
            Email:<input type="text" name="email"><br>
            Password:<input type="password" name="password"><br>
            <input type="submit" value="Register">
        </form>
    </div>
	<div class="allUsers">
        <h3><a href="/allUsers">See all users registered</a></h3>
    </div>
</body>

</html>
